* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem; }

p {
  margin: 1rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  color: var(--text);
  text-decoration: none; }

img {
  max-width: 100%; }

.title-small {
  letter-spacing: 0.5rem;
  font-size: 1.7rem; }

.text-primary {
  color: var(--primary); }

.text-hint {
  color: var(--hint); }

.mb-5 {
  margin-bottom: 5rem !important; }

.mt-5 {
  margin-top: 5rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

@keyframes bounce {
  0% {
    transform: rotate(-45deg); }
  10% {
    transform: rotate(-35deg); }
  70% {
    transform: rotate(20deg); }
  80% {
    transform: rotate(-10deg); }
  90% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(0deg); } }

/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
.grid-container {
  min-height: 100vh;
  display: grid;
  grid: "picture header" auto "aside main" 1fr "footer footer" auto / 350px auto; }
  @media (max-width: 480px) {
    .grid-container {
      grid: " header" auto " main" auto "picture" auto "aside" auto "footer " auto / auto; } }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: header;
  background: blue;
  padding: 6rem 5rem;
  text-align: center;
  background: linear-gradient(to right, var(--dark), var(--light));
  color: white; }
  @media (max-width: 480px) {
    header {
      padding: 5rem 1rem; } }
  header h1 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 3rem; }
    @media (max-width: 480px) {
      header h1 {
        font-size: 3rem;
        letter-spacing: 2rem; } }
  header p {
    letter-spacing: 0.5rem; }
  header span {
    display: inline-block;
    animation: bounce 2s; }

.picture {
  grid-area: picture;
  padding: 3rem;
  background: var(--background);
  border-right: 1px solid var(--border); }
  .picture img {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto; }

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  padding: 5rem;
  min-height: 1500px; }
  aside .block {
    margin-bottom: 5rem; }
    aside .block h3 {
      margin-bottom: 0;
      font-size: 1.5rem; }
    aside .block p {
      margin: 0 0 2rem 0;
      font-style: italic; }
    aside .block .bar-skill {
      margin: 2rem 0;
      height: 5px;
      background: var(--hint);
      position: relative; }
      aside .block .bar-skill .bar-skill-progress {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0%;
        width: 80%;
        background: var(--primary); }
      aside .block .bar-skill .bar-skill-dot {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);
        left: calc(80% - 5px);
        top: -2.5px;
        border-radius: 50%; }
    aside .block .stars-container {
      display: flex;
      margin: 2rem 0 3rem 0;
      color: var(--hint); }
      aside .block .stars-container i {
        font-size: 2rem;
        margin: 0 1rem; }
    aside .block .social-container {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 1rem 2rem;
      border-radius: 5px;
      transition: all 0.2s;
      cursor: pointer; }
      aside .block .social-container:hover {
        background: var(--border); }
        aside .block .social-container:hover i {
          transform: scale(1.3);
          transition: all 0.2s; }
          aside .block .social-container:hover i.fa-instagram {
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
            -webkit-background-clip: text;
            /* Also define standard property for compatibility */
            background-clip: text;
            -webkit-text-fill-color: transparent; }
          aside .block .social-container:hover i.fa-linkedin {
            color: var(--linkedin); }
          aside .block .social-container:hover i.fa-facebook {
            color: var(--fb); }
          aside .block .social-container:hover i.fa-gitlab {
            color: var(--gitlab); }
      aside .block .social-container i {
        font-size: 2.5rem;
        flex: 0 0 50px;
        margin-right: 1rem; }
      aside .block .social-container p {
        flex: auto;
        margin: 0; }

main {
  grid-area: main;
  padding: 5rem; }
  @media (max-width: 480px) {
    main {
      padding: 5rem 1.5rem; } }
  main h2 {
    margin-bottom: 4rem; }
  main p {
    letter-spacing: 0.2rem;
    line-height: 3.5rem; }
  main .experience {
    display: flex;
    margin: 6rem 0; }
    main .experience .timeline {
      text-align: center;
      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border); }
      main .experience .timeline p {
        margin: 0; }
    main .experience .content {
      padding: 0 1rem;
      margin: 0; }
      main .experience .content p {
        margin: 0; }
      main .experience .content h3 {
        margin: 0; }
      main .experience .content ul {
        list-style: circle;
        padding-left: 3rem;
        margin: 2rem 0; }

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5rem;
  background: var(--text); }
  @media (max-width: 480px) {
    footer {
      padding: 5rem 1.5rem; } }
  footer form {
    display: flex;
    align-items: center; }
    footer form h2 {
      margin-bottom: 3.5rem; }
    footer form .prefix {
      outline: 0;
      background: linear-gradient(to right, var(--dark), var(--light));
      padding: 1rem 2rem;
      color: white;
      font-size: 2rem;
      border-top-left-radius: 25%;
      border-bottom-left-radius: 25%; }
    footer form button {
      background: var(--text);
      border: 0;
      cursor: pointer;
      transition: all 0.2s; }
      footer form button:hover {
        opacity: 0.8; }
      footer form button .postfix {
        outline: 0;
        background: linear-gradient(to right, var(--dark), var(--light));
        padding: 1rem 2rem;
        color: white;
        font-size: 2rem;
        border-top-right-radius: 35%;
        border-bottom-right-radius: 35%; }
    footer form input {
      outline: 0;
      border: 0;
      padding: 1rem 2rem;
      min-width: 400px;
      line-height: 2rem; }
      @media (max-width: 480px) {
        footer form input {
          min-width: 200px; } }
      footer form input::placeholder {
        color: var(--text); }
