@import "reset";
@import "base";
@import "classes";
@import "utilis";
@import "animations";
@import "media-queries";
.grid-container {
  min-height: 100vh;
  display: grid;
  grid:
    "picture header" auto
    "aside main" 1fr
    "footer footer" auto
    / 350px auto;

  @include xs {
    grid:
      " header" auto
      " main" auto
      "picture" auto
      "aside" auto
      "footer " auto
      / auto;
  }
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: header;
  background: blue;
  padding: 6rem 5rem;
  text-align: center;
  background: linear-gradient(to right, var(--dark), var(--light));
  color: white;
  @include xs {
    padding: 5rem 1rem;
  }

  h1 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 3rem;
    @include xs {
      font-size: 3rem;
      letter-spacing: 2rem;
    }
  }
  p {
    letter-spacing: 0.5rem;
  }
  span {
    display: inline-block;
    animation: bounce 2s;
  }
}

.picture {
  grid-area: picture;
  padding: 3rem;
  background: var(--background);
  border-right: 1px solid var(--border);
  img {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  padding: 5rem;
  min-height: 1500px;
  .block {
    margin-bottom: 5rem;
    h3 {
      margin-bottom: 0;
      font-size: 1.5rem;
    }
    p {
      margin: 0 0 2rem 0;
      font-style: italic;
    }
    .bar-skill {
      margin: 2rem 0;
      height: 5px;
      background: var(--hint);
      position: relative;
      .bar-skill-progress {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0%;
        width: 80%;
        background: var(--primary);
      }
      .bar-skill-dot {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);
        left: calc(80% - 5px);
        top: -2.5px;
        border-radius: 50%;
      }
    }
    .stars-container {
      display: flex;
      margin: 2rem 0 3rem 0;
      color: var(--hint);
      i {
        font-size: 2rem;
        margin: 0 1rem;
      }
    }
    .social-container {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 1rem 2rem;
      border-radius: 5px;
      transition: all 0.2s;
      cursor: pointer;
      &:hover {
        background: var(--border);
        i {
          transform: scale(1.3);
          transition: all 0.2s;
          &.fa-instagram {
            background: radial-gradient(
              circle at 30% 107%,
              #fdf497 0%,
              #fdf497 5%,
              #fd5949 45%,
              #d6249f 60%,
              #285aeb 90%
            );
            -webkit-background-clip: text;
            /* Also define standard property for compatibility */
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          &.fa-linkedin {
            color: var(--linkedin);
          }
          &.fa-facebook {
            color: var(--fb);
          }
          &.fa-gitlab {
            color: var(--gitlab);
          }
        }
      }
      i {
        font-size: 2.5rem;
        flex: 0 0 50px;
        margin-right: 1rem;
      }
      p {
        flex: auto;
        margin: 0;
      }
    }
  }
}

main {
  grid-area: main;
  padding: 5rem;
  @include xs {
    padding: 5rem 1.5rem;
  }
  h2 {
    margin-bottom: 4rem;
  }
  p {
    letter-spacing: 0.2rem;
    line-height: 3.5rem;
  }
  .experience {
    display: flex;
    margin: 6rem 0;
    .timeline {
      text-align: center;
      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border);
      p {
        margin: 0;
      }
    }
    .content {
      padding: 0 1rem;
      margin: 0;
      p {
        margin: 0;
      }
      h3 {
        margin: 0;
      }
      ul {
        list-style: circle;
        padding-left: 3rem;
        margin: 2rem 0;
      }
    }
  }
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5rem;
  background: var(--text);
  @include xs {
    padding: 5rem 1.5rem;
  }

  form {
    display: flex;
    align-items: center;
    h2 {
      margin-bottom: 3.5rem;
    }
    .prefix {
      outline: 0;
      background: linear-gradient(to right, var(--dark), var(--light));
      padding: 1rem 2rem;
      color: white;
      font-size: 2rem;
      border-top-left-radius: 25%;
      border-bottom-left-radius: 25%;
    }
    button {
      background: var(--text);
      border: 0;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        opacity: 0.8;
      }
      .postfix {
        outline: 0;
        background: linear-gradient(to right, var(--dark), var(--light));
        padding: 1rem 2rem;
        color: white;
        font-size: 2rem;
        border-top-right-radius: 35%;
        border-bottom-right-radius: 35%;
      }
    }
    input {
      outline: 0;
      border: 0;
      padding: 1rem 2rem;
      min-width: 400px;
      line-height: 2rem;
      @include xs {
        min-width: 200px;
      }
      &::placeholder {
        color: var(--text);
      }
    }
  }
}
