@import url("https://use.typekit.net/oaz5gca.css");
:root {
  --font-family: muli, sans-serif;

  //colors
  --light: #00c3ff;
  --primary: #2071e7;
  --dark: #2980b9;
  --text: #333;
  --background: #fafafa;
  --hint: #999;
  --border: #ddd;
  --fb: #3b5998;
  --linkedin: #0e76a8;
  --gitlab: #fc6d26;
}
